:root {
  --black: #252530;
  --blue: #2C2C37;
  --grey: #65656A;
  --white: #FAFAFC;
  --yellow: #F8C246;
  --text-size-0: 1.5vmin;
  --text-size-1: 2vmin;
  --text-size-2: 2.5vmin;
}
* {
  padding: 0;
  margin: 0;
}
h1 {
  color: var(--white);
  font-family: 'Roboto', sans-serif;
  font-size: var(--text-size-2);
}
h2 {
  color: var(--yellow);
  font-family: 'Roboto', sans-serif;
  font-size: var(--text-size-1);
}
h3 {
  color: var(--white);
  font-family: 'Roboto', sans-serif;
  font-size: var(--text-size-1);
}
a {
  color: var(--grey);
  font-family: 'Roboto', sans-serif;
  font-size: var(--text-size-1);
  text-decoration: none;
}
a:hover {
  color: var(--white);
}
label {
  color: var(--white);
  font-family: 'Roboto', sans-serif;
  font-size: var(--text-size-0);
}
p {
  color: var(--grey);
  font-family: 'Roboto', sans-serif;
  font-size: var(--text-size-0);
}
body {
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
}
#Content {  display: grid;
  grid-template-columns: 15vw 75vw;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-gap: 0vh 5vw;
  grid-auto-flow: row;
  grid-template-areas:
    "Header_Div divMain";
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

#Header_Div {  display: grid;
  grid-template-columns: 15vw;
  grid-template-rows: 15vh 20vh 40vh 10vh;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Bio"
    "Awards"
    "Code_Progress"
    "Navigation";
  grid-area: Header_Div;
  background-color: var(--black);
  position: fixed;
  height: 100vh;
}
.Awards, .Code_Progress, .Navigation {
  justify-self: center;
}
.BioImage, .BioText {
  text-align: center;
  align-self: center;
}
.Code_Progress, .Awards {
  align-self: center;
}

.Bio {  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-auto-flow: row;
  grid-area: Bio;
  background-color: var(--blue);
  overflow: hidden;
}
.BioImage img {
  width: 5vw;
  max-width: 100px;
}
.Awards {  display: grid;
  grid-template-columns: 13vw;
  grid-template-rows: auto;
  grid-template-areas:
    "Achievements";
  grid-area: Awards;
  text-align: center;
}
.Code_Progress {  display: grid;
  grid-template-columns: 13vw;
  grid-template-rows: auto;
  grid-template-areas:
    "Code_Progress";
  grid-area: Code_Progress;
}
.bar {
  background-color: var(--white);
  width: 100%;
  border-radius: 5px;
  height: var(--text-size-1);
  margin: 1vh 0vw;
}
.Progress {
  background-color: var(--yellow);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: var(--text-size-1);
}
.HTML {
  width: 100%;
  border-radius: 5px;
}
.CSS {
  width: 90%;
}
.Javascript {
  width: 75%;
}
.PHP {
  width: 50%;
}
.Python {
  width: 50%;
}
.Navigation {  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-auto-flow: row;
  grid-template-areas:
    "Navigation";
  grid-area: Navigation;
  position: fixed;
  bottom: 5vh;
  text-align: center;
}
.Navigation a {
  margin: 0vh 1vw;
}

#divMain {  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  gap: 5vh 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Head"
    "Projects";
  grid-area: divMain;
  position: relative;
  top: 5vh;
}

.Head {  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40vh;
  grid-auto-flow: row;
  grid-template-areas:
    "HeadText HeadImage";
  grid-area: Head;
  background-color: var(--black);
  overflow: hidden;
}
.HeadLink {
  display: none;
}
.HeadText { grid-area: HeadText; margin:0vh 2.5vw; }
.HeadText p {
  margin: 1vh 0vw 5vh 0vw;
  width: 40vw;
}
.HeadText a {
  color: var(--blue);
  border: none;
  border-radius: 5px;
  padding: 1.5vh 3vw;
  background-color: var(--yellow);
}
.HeadImage { grid-area: HeadImage; }
.HeadImage img {
  width: 80%;
}
.HeadText, .HeadImage {
  align-self: center;
  justify-self: center;
}

.Projects { grid-area: Projects;
  align-self: center;
  }
.project {
  background-color: var(--blue);
  margin: 1vh 1vw;
  padding: 1vh 1vw;
  width: 20vw;
  display: inline-block;
  text-align: left;
  overflow:overlay;
  white-space: pre-line;
}
.project a {
  float: right;
  color: var(--yellow);
  font-size: var(--text-size-0);
}
.FooterLink {
  display: none;
}








@media screen and (max-width: 640px) {
  #Content {  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  grid-template-areas:
    "divMain";
  height: 100vh;
  width: 100vw;
  position: relative;
    top: 5vh;
  overflow-x: hidden;
}
  #divMain {  display: grid;
  grid-template-columns: 80vw;
  grid-template-rows: auto auto auto;
  grid-gap: 5vh 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Head"
    "Projects"
    "FooterLink";
  grid-area: divMain;
  justify-self: center;
}
  #Header_Div {
  display: none;
}
  .FooterLink {
    grid-area: FooterLink;
    display: block;
    justify-self: center;
    padding-bottom: 5vh;
}
  .FooterLink a {
    margin: 0vh 2.5vw;
  }
}